name: "Deploy"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  
  workflow_dispatch:

jobs:
  Deploy:
    runs-on: ubuntu-latest
    

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it

      - name: Pull Code excute in host
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST_NAME }}
          username: ${{ secrets.USER_NAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            cd /srv/django_react_web_project/bbh-test/
            git pull 
            uv sync
            sudo systemctl restart gitpythontest
