name: "CI/CD"

on:
  push:
    branches: ["main"]
  pull_request:
  
  workflow_dispatch:

jobs:
  Test:
    runs-on: ubuntu-latest

    if: |
      github.event_name == 'pull_request' || 
      github.event_name == 'workflow_dispatch'
    
  
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
        shell: bash

      - name: init depandency
        run: uv sync

      - name: execute "main"
        run: uv run main.py

      - name: paly
        run: pwd

      - name: show file
        run: ls -a

      - name: show python
        run: which python

      - name: use python
        run: python

      - name: test o python
        run: python main.py
